name: Build

on:
  push:
    branches:
      - master
      - develop
  workflow_dispatch:

env:
  FRAMEWORK: net10.0
  CONFIGURATION: Debug
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10'

      - name: Run tests
        run: dotnet test --configuration $CONFIGURATION Estimmo.Test/Estimmo.Test.csproj
